<footer class="site-footer">
  <div class="wrapper">
    <h4>Autoren</h4>

    <h5>Hannes Diercks</h5>

    <ul>
      <li><a href="https://github.com/Xiphe">GitHub</a></li>
      <li><a href="http://xiphe.net/">xiphe.net</a></li>
      <li><a href="http://diem-musik.de/">diem-musik.de</a></li>
    </ul>

    <h5>Daniel Bechler</h5>

    <ul>
      <li><a href="https://github.com/hundekoerper">GitHub</a></li>
    </ul>

    <h4 class="copyright">Copyright © {{ site.time | date: '%Y' }}. All rights reserved.</h4>
  </div>
</footer>
