<header class="site-header">

  <div class="banner">
    <div class="wrapper">
      <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
      <h2>with Dan &amp; Hannes</h2>
    </div>
  </div>

  <div class="wrapper">
    <ul class="socialmedia">
      <li><a href="https://github.com/Coding-Time">GitHub</a></li>
      <li><a href="https://reddit.com">reddit</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="https://instagram.com">Instagram</a></li>
    </ul>

  </div>


</header>
