<header class="site-header">
  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
    <div class="wrapper">
      <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
      <h2>with Dan &amp; Hannes</h2>
    </div>
  </div>

  <div class="wrapper">
    <ul class="socialmedia">
      <li><a href="https://github.com/Coding-Time"><i class="icon-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com"><i class="icon-twitter"></i> Twitter</a></li>
      <li><a href="https://reddit.com"><i class="icon-reddit"></i> reddit</a></li>
      <li><a href="https://instagram.com"><i class="icon-instagram"></i> Instagram</a></li>
    </ul>

  </div>

</header>
